<header>
  <div class="backdrop"></div>
  <nav>
    <div class="app-title">Marjolein Bente</div>
    <div class="menu-right">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/marjolein-bente-b88784150/"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/Menatith"
            ><i class="fa-brands fa-github"></i
          ></a>
        </li>
      </ul>
      <!-- <ul>
      <li>EN</li>
      <li>NL</li>
    </ul> -->
    </div>
  </nav>
</header>
