<section>
  <div class="about-container">
    <div class="img-container">
      <img src="Boombal.webp" alt="Een foto van Marjolein" />
    </div>
    <div class="text-container">
      <h2>Even voorstellen</h2>
      <p>
        Hi, ik ben Marjolein Bente, een front-end developer uit Borne. Sinds 6
        jaar ben ik werkzaam in de IT waarvan de afgelopen 3 jaar als developer.
        Ik heb aan een verscheidenheid aan web apps en websites gewerkt en
        ervaring in o.a. Wordpress, Angular, Blazor en Bootstrap. Hierbij heb ik
        een grote liefde ontwikkeld voor CSS en a11y en richt ik mij op het
        schrijven van leesbare en goed te onderhouden code. Naast code hou ik
        mij graag bezig met boeken, paarden, dansen, vechtsport en
        worldbuilding.
      </p>
    </div>
  </div>
</section>
