section {
  min-height: calc(100vh - 2.4rem);
  min-height: calc(100dvh - 2.4rem);
  background: linear-gradient(to right, #233e34, #006968);
  color: var(--text-primary);
  align-content: center;
}

@supports (color: oklch(33.87% 0.0378 168.51)) {
  section {
    background: linear-gradient(
      to right,
      oklch(33.87% 0.0378 168.51),
      oklch(46.8% 0.0854 194.08)
    );
  }
}

h1 {
  font-size: 2.5rem;
}

.hero-text {
  margin: 0 auto;
  width: 66%;
}

@media (min-width: 768px) {
  .hero-text {
    margin: 0;
  }

  h1 {
    font-size: 5rem;
    width: 33%;
  }
}

@media (min-width: 992px) {
  .hero-text {
    width: 33%;
  }
}
