.timeline-container {
  margin: 0 auto;
}

ol {
  list-style: none;
  padding: 0;
  text-align: left;
}

li {
  margin-bottom: 2rem;
}

li:last-child {
  margin-bottom: 5rem;
}

.date {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.entry-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.entry-location {
  font-weight: 300;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .timeline-container {
    width: 75%;
    text-align: center;
  }

  li {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
  }

  li:last-child {
    margin-bottom: 3rem;
  }

  .date {
    grid-column: 1 / 2;
    text-align: right;
  }

  .entry-info {
    grid-column: 3 / 4;
    text-align: left;
  }
}
