section {
  padding-top: 3rem;
}

.skill-list {
  text-align: left;
}

ul {
  padding-left: 0;
}

.cert-org,
.cert-date {
  font-weight: 300;
}

.certificate {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  section {
    text-align: center;
  }

  .skill-list {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .column-1,
  .column-2,
  .column-3 {
    margin: 0 auto;
  }

  .certificate {
    display: flex;
    justify-content: space-between;
  }

  .cert-date {
    padding-left: 1rem;
  }

  li:last-child {
    margin-bottom: 5rem;
  }
}
